#newIssuesDiv {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 996;
}

#newIssuesDiv .card-content .row {
    margin-bottom: 0;
}

#issues-wrapper .issuesCollection .notificationIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}

@media only screen and (max-width: 600px) {
    .row.valign-wrapper {
        display: inherit;
    }
}